#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.pilt {
	height: 300;
	border-radius: 30px;
}

.aktiivne,
.inaktiivne {
	padding: 30px 50px;
	border: 3px solid;
}

.aktiivne {
	border-color: darkmagenta;
	color: darkmagenta;
	font-weight: bold;
}

.inaktiivne {
	border-color: darkgray;
	color: darkgray;
}

.aktiivne-keel {
	font-weight: bold;
}

.aktiivne-linn {
	text-decoration: underline;
}

input,
select {
	margin: 10px 20px;
}

table,
td,
th {
	margin: 10px auto;
	border: 2px solid black;
	border-collapse: collapse;
}
th {
	width: 200px;
	padding: 10px 0;
}

.auto-pilt {
	width: 200px;
}

.ostukorv-toode {
	width: 100px;
}

img.drink {
	width: 300px;
}

.tegevused {
	margin: 20px 30%;
	text-align: left;
}

input {
	margin: 0;
}

.invis-tab {
	border: none;
}
