.products {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	margin: auto 20%;
}

.product {
	border: 3px solid #ddd;
	margin: 10px;
	padding: 10px;
	border-radius: 20px;
}

.product:hover {
	border: 3px solid darkred;
}

.product:hover .image {
	transform: scale(110%);
	transition: 0.5s;
}

.title {
	font-weight: bold;
}

.image {
	width: 100px;
	transition: 0.5s;
}

.price {
	font-weight: bold;
}

.btn {
	background-color: white;
	border: 1px solid grey;
	margin: 5px;
	border-radius: 5px;
}

.btn:hover {
	background-color: orange;
}
