#root {
	text-align: center;
}

label {
	margin: auto 10px;
}

input {
	margin-bottom: 10px;
}

button {
	font-size: 14px;
	border-color: black;

	padding: 5px 10px;
	margin: 5px;
	background-color: orange;
}
