body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.container {
	margin-top: 50px;
}

td,
th {
	text-align: center;
	vertical-align: middle;
}

td:first-child,
th:first-child {
	font-weight: bold;
}

.fewer-than-3 {
	color: red;
}
