body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

.container {
	margin-top: 50px;
}

td,
th {
	text-align: center;
	vertical-align: middle;
}

/*TODO: Set the font weight of the first table column to bold*/
table td:first-child,
table th:first-child {
	font-weight: bold;
}
